<!DOCTYPE html>
<html lang="en">

		<head>
				<meta charset="utf-8">
				<title>FSE Chatroom Login</title>
				<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
				<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
				<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
				<link rel="stylesheet" href="/stylesheets/form-elements.css">
				<link rel="stylesheet" href="/stylesheets/style.css">
		</head>
		<body>
				<div class="top-content">
						<div class="inner-bg">
							<div class="container">
								<div class="row">
										<div class="col-sm-8 col-sm-offset-2 text">
												<h1><strong>FSE Chat Room</strong> Login</h1>
												<div class="description">
														<p>
															This is a responsive login form made with Bootstrap.
															<a href='signup'><strong>Sign Up Now!</strong></a>
														</p>		
												</div>
										</div>
								</div>
								
								<div class="row">
										<div class="col-sm-6 col-sm-offset-3 form-box">
												<div class="form-top">
														<div class="form-top-left">
																
																<h3>Login to FSE Chat Room</h3>
                            		<p>Enter your username and password to log on:</p>
																
														</div>
														<div class="form-top-right">
																<i class="fa fa-lock"></i>
                        		</div>
												</div>
												<div class="form-bottom">
														<form action="" method="post" class="login-form">
																<div class="form-group">
																		<label class="sr-only" for="form-username">Username</label>
																		<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="username">
																</div>
																<div class="form-group">
																		<label class="sr-only" for="form-password">Password</label>
																		<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="password">
																</div>
																<button type="submit" class="btn" id="signin" onclick="return false">Sign in!</button>
														</form>
												</div>
										</div>
								</div>
							</div>
						</div>
				</div>
				
				
				<script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
				<script>
				$(function(){
					$("#signin").click(function(){
						var username = $("#username").val();
						var password = $("#password").val();
						if(username == '' || password == ''){
							alert('please input a username and a password.');
							location.href = '/';
						}
						else{
							var data = {"username": username, "password": password};
							$.ajax({
								url: '/users/login',
								type: 'post',
								data: data,
								success: function(data,status){
										document.cookie = "username=" + username;
                    if(status == 'success'){ 
                        location.href = 'room';
                    }
                },
								error: function(data,status){ 
                    if(status == 'error'){ 
                        alert('incorrect username or password!');
												location.href = '/';
                    }
                }
							});
						}
					});
				});
				</script>
		</body>
</html>